In [1]:
import regex as re
import pandas as pd

## Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- &#39;Python Exercises, PHP exercises.&#39;

Expected Output: Python:Exercises::PHP:exercises:

In [2]:
sample_text = "Python Exercises, PHP exercises."

pattern = re.compile('[ ,.]')

result = pattern.sub(':', sample_text)
print(result)

Python:Exercises::PHP:exercises:

## Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !,XXXX, ;, etc.) from the columns except words.

Dictionary- {&#39;SUMMARY&#39; : [&#39;hello, world!&#39;, &#39;XXXXX test&#39;, &#39;123four, five:; six...&#39;]}

Expected output-

0 hello world

1 test

2 four five six

In [3]:
raw_data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
dataframe = pd.DataFrame(raw_data)
dataframe

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [4]:
def clean_text(text):
    pattern = re.sub(r'[^a-zA-Z\s]|XXXXX', ' ', text)
    return pattern.strip()

In [5]:
dataframe['SUMMARY'] = dataframe['SUMMARY'].apply(clean_text)

In [6]:
print(dataframe)

            SUMMARY
0      hello  world
1              test
2  four  five   six

### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [7]:
def exact_char(text):
    pattern = re.compile(r"\b\w{4,}\b")
    result = pattern.findall(text)
    return result
    
text = 'The quick brown fox jumps over the lazy dog.'

print(exact_char(text))

['quick', 'brown', 'jumps', 'over', 'lazy']

### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [8]:
def exact_char(text):
    pattern = re.compile(r"\b\w{3,5}\b")
    result = pattern.findall(text)
    return result
    
text = 'Hi! The quick brown fox jumps over the lazy dog. Understannd?'

print(exact_char(text))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory. 

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"] 

Expected Output: 

[ example.com, hr@fliprobo.com , github.com , Hello Data Science World , Data Scientist ]

In [9]:
def exact_char(texts):
    
    pattern = re.compile(r'\(([^)]*)\)')

    result = [re.sub(pattern, r'\1', text).strip() for text in texts]

    return result

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


output = exact_char(sample_text)

print(output)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression. 

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"] 

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"] 

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [10]:
def exact_char(texts):
    
    pattern = re.compile(r'\([^)]*\)')

    
    result = [re.sub(pattern, '', text).strip() if '.' not in re.sub(pattern, '', text) else re.sub(pattern, '', text).strip() for text in texts]

    return result


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


output = exact_char(sample_text)

print(output)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

### Question 7- Write a regular expression in Python to split a string into uppercase letters. 

Sample text: “ImportanceOfRegularExpressionsInPython” 

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [11]:
text = "ImportanceOfRegularExpressionsInPython"
result = re.findall('[A-Z][^A-Z]*', text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']


### Question 8- Create a function in python to insert spaces between words starting with numbers. 

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" 

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [12]:
def exact_char(string):
    result = re.sub(r'(\d)([A-Za-z])', r'\1 \2', string)
    result = re.sub(r'([A-Za-z])(\d)', r'\1 \2', result)
    result = re.sub(r'(\d)(\s+)([A-Za-z])', r'\1\3', result)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
final_result = exact_char(text)

print(final_result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers. 

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" 

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [13]:
def exact_char(string):
    result = re.sub(r'(\d)([A-Za-z])', r'\1 \2', string)
    result = re.sub(r'([A-Za-z])(\d)', r'\1 \2', result)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
final_result = exact_char(text)

print(final_result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters. 

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [14]:
git_url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df = pd.read_csv(git_url)

df['first_five_letters'] = df['Country'].str[:6]

df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [15]:
pattern = r'^[\w]+$'

string = 'This_is_a_test_string_123'

if re.match(pattern, string):
    print(f"The string '{string}' matches the pattern.")
else:
    print(f"The string '{string}' does not match the pattern.")

The string 'This_is_a_test_string_123' matches the pattern.

### Question 12- Write a Python program where a string will start with a specific number.

In [16]:
text = "42 is the answer to everything."
num = 42
pattern = r'^' + str(num)

if re.match(pattern, text):
    print(True)
else:
    print(False)

True

### Question 13- Write a Python program to remove leading zeros from an IP address

In [17]:
ip = "000.168.001.001"
ip_without_zeros = re.sub(r'\b0+(\d)', r'\1', ip)

print(f'Original IP address: {ip}')
print(f'IP address without leading zeros: {ip_without_zeros}')

Original IP address: 000.168.001.001
IP address without leading zeros: 0.168.1.1

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file. 

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’. 

Expected Output- August 15th 1947 

Note- Store given sample text in the text file and then extract the date string asked format.

In [18]:
with open('sample.txt', 'w') as file:
    file.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.')

with open('sample.txt', 'r') as file:
    read_file = file.read()

result = re.search(r'(\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4})', read_file)

if result:
    string = result.group(1)
    print(f'Extracted Date: {string}')
else:
    print('None')

Extracted Date: August 15th 1947

### Question 15- Write a Python program to search some literals strings in a string.  

Sample text : 'The quick brown fox jumps over the lazy dog.' 

Searched words : 'fox', 'dog', 'horse'

In [19]:
text = 'The quick brown fox jumps over the lazy dog.'
words = ['fox', 'dog', 'horse']

for w in words:
    if w in text:
        print(f'The word "{w}" is present in the text.')
    else:
        print(f'The word "{w}" is not present in the text.')

The word "fox" is present in the text.
The word "dog" is present in the text.
The word "horse" is not present in the text.

### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs 

Sample text : 'The quick brown fox jumps over the lazy dog.' 

Searched words : 'fox'

In [20]:
sample_text = 'The quick brown fox jumps over the lazy dog.'

searched_word = 'fox'

position = sample_text.find(searched_word)

if position != -1:
    print(f"The word '{searched_word}' was found at position {position}.")
else:
    print(f"The word '{searched_word}' was not found in the sample text.")

The word 'fox' was found at position 16.

### Question 17- Write a Python program to find the substrings within a string. 

Sample text : 'Python exercises, PHP exercises, C# exercises' 

Pattern : 'exercises'.

In [21]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = r'\bexercises\b'

substrings = re.findall(pattern, sample_text)

print(substrings)

['exercises', 'exercises', 'exercises']

### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [22]:
def find_occurrences(text, sub):
    matches = re.finditer(sub, text)
    for match in matches:
        print(f'Found substring "{sub}" at position {match.start()}')
    return

find_occurrences('Python exercises, PHP exercises, C# exercises', 'exercises')

Found substring "exercises" at position 7
Found substring "exercises" at position 22
Found substring "exercises" at position 36

### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [23]:
def convert_date_format(date):
    year, month, day = date.split('-')
    return f'{day}-{month}-{year}'

# Test the function
print(convert_date_format('2023-04-01'))

01-04-2023

### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory. 

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25" 

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [24]:
def exact_char(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    result = pattern.findall(text)
    return result


text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

final_result = exact_char(text)
print(final_result)

['01.12', '145.8', '3.01', '27.25', '0.25']

### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [25]:
def find_numbers_and_positions(text):

    pattern = re.compile(r'\d+')
    matches = pattern.finditer(text)
    positions = []
    for match in matches:
        positions.append(match.start())
    numbers = pattern.findall(text)
    result = list(zip(numbers, positions))
    return result

text = "The number is 1234 and the other number is 5678."
print(find_numbers_and_positions(text))

[('1234', 14), ('5678', 43)]

### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string. 

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642' 

Expected Output: 950

In [26]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

pattern = re.compile(r'\d+')
numbers = pattern.findall(sample_text)
max_num = max(numbers, key=int)

print(f'Maximum numeric value: {max_num}')

Maximum numeric value: 950

### Question 23- Create a function in python to insert spaces between words starting with capital letters. 

Sample Text: “RegularExpressionIsAnImportantTopicInPython" 

Expected Output: Regular Expression Is An Important Topic In Python

In [27]:
def exact_char(text):
    result = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)
    return result


sample_text = "RegularExpressionIsAnImportantTopicInPython"

output = exact_char(sample_text)
print(output)

Regular Expression Is An Important Topic In Python

### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [28]:
pattern = re.compile(r'[A-Z][a-z]+')

text = "This is a Python Regular Expression Example."

result = pattern.findall(text)

print(result)

['This', 'Python', 'Regular', 'Expression', 'Example']

### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression. 

Sample Text: "Hello hello world world" 

Expected Output: Hello hello world

In [29]:
def exact_char(text):
    pattern = re.compile(r'\b(\w+)\s+\1\b', re.IGNORECASE)
    text = pattern.sub('\\1 ', text)
    return text.strip()

text = "Hello hello world world"
print(exact_char(text))

Hello  world

### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [30]:
def exact_char(text):

    pattern = re.compile(r'\b[a-zA-Z0-9]*[a-zA-Z0-9]\b')
    if pattern.fullmatch(text):
        return True
    else:
        return False

print(exact_char("Hello123")) # True
print(exact_char("Hello ")) # False

True
False

### Question 27-Write a python program using RegEx to extract the hashtags. 

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""" 

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [31]:
def exact_char(text):
    pattern = re.compile(r'#\w+')
    hashtags = pattern.findall(text)
    return hashtags


text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
print(exact_char(text))

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28- Write a python program using RegEx to remove <U+..> like symbols 

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols. 

Sample Text: "@Jags123456 Bharat band on 28??<|ed><U+00A0><U+00BD><|ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders" 

Expected Output: @Jags123456 Bharat band on 28?? <| ed |> <| ed |>Those who  are protesting #demonetization  are all different party leaders

In [32]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"


pattern = r"<U\+[A-Fa-f0-9]+>"


result = re.sub(pattern, '', text)

print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

### Question 29- Write a python program to extract dates from the text stored in the text file. 

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999. 

Note- Store this sample text in the file and then extract dates.

In [33]:
with open("sample_text.txt", 'r') as file:
    text = file.read()

pattern = r'(\d{2}-\d{2}-\d{4})'
result = re.findall(pattern, text)


print(result)

['12-09-1992', '15-12-1999']

### Question 30- Create a function in python to remove all words from a string of length between 2 and 4. The use of the re.compile() method is mandatory. 

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly." 

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [34]:
def remove_words(text):

    pattern = re.compile(r'\b\w{2,4}\b')

    filtered_text = pattern.sub('', text)

    return filtered_text



text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = remove_words(text)

print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.