### Importing libraries

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import time

### question 1 
'https://www.shine.com/'

In [7]:
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')

In [9]:
designation =driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
# designation.send_keys('Data' + ' ' + 'Analyst')
driver.execute_script("arguments[0].value = 'Data Analyst';", designation)

In [11]:
location = driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul/li[2]/div/input ')
location.send_keys('Bangalore')

In [12]:
search = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [13]:
counter = 0
job_title = []
title_tags = driver.find_elements(By.XPATH, '//div[@itemprop = "itemListElement"]//h2/a')
for i in title_tags:
    if counter == 10:
        break
    title = i.text
    job_title.append(title)
    counter += 1
job_title

['Data Analyst',
 'Clinical Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Technical Data Architect',
 'Data Science Architect',
 'Data Engineer',
 'Clinical Data Associate']

In [14]:
counter = 0
location_name = []
location_tags = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    if counter == 10:
        break
    location = i.text.split('\n')[0]
    location_name.append(location)
    counter += 1
location_name

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [15]:
counter = 0
company_name = []
company_tags = driver.find_elements(By.XPATH, '//div[@class = "jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    if counter == 10:
        break
    company = i.text
    company_name.append(company)
    counter += 1
company_name

['sahast sales corporation',
 'techno endura',
 'sahast sales corporation',
 'radhika enterprises',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'uprighthc solutions private limited',
 'symphoni hr pvt. ltd.',
 'spm hr solutions',
 'techno endura']

In [16]:
counter = 0
experience = []
experience_tags = driver.find_elements(By.XPATH, '//div[@class = " jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    if counter == 10:
        break
    e = i.text
    experience.append(e)
    counter += 1
experience

['12 to 22 Yrs',
 '0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 4 Yrs',
 '4 to 9 Yrs',
 '0 to 1 Yr',
 '10 to 20 Yrs',
 '8 to 10 Yrs',
 '4 to 6 Yrs',
 '0 to 1 Yr']

In [17]:
driver.quit()

### Dataframe

In [18]:
df = pd.DataFrame({'Job_title': job_title, 'location':location_name, 'company_name':company_name, 'experience':experience})
df

,Job_title,location,company_name,experience
0,Data Analyst,Bangalore,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore,radhika enterprises,0 to 4 Yrs
4,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
5,Data Analyst,Bangalore,diraa hr services hiring for mncs,0 to 1 Yr
6,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
7,Data Science Architect,Bangalore,symphoni hr pvt. ltd.,8 to 10 Yrs
8,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
9,Clinical Data Associate,Bangalore,techno endura,0 to 1 Yr

# Question 2
https://www.naukri.com/

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.naukri.com/')

In [3]:
designation =driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')
# driver.execute_script("arguments[0].value = 'Data Scientist';", designation)

In [4]:
location = driver.find_element(By.XPATH, '/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [5]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

# Question 3
https://www.flipkart.com/

In [19]:
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [20]:
designation =driver.find_element(By.XPATH, '//div[@class="_2SmNnR"]//input')
designation.send_keys('Sunglasses')

In [21]:
search = driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

#### Pagination

In [ ]:
# pagination = driver.find_element(By.XPATH, "//div[contains(@class, '_2MImiq')]")
# pages = pagination.find_elements(By.TAG_NAME, 'a' )
# last_page = int(pages[9].text)

In [23]:
brands = []
counter = 0
start = 0
end = 3
for page in range(start,end):
    if counter == 100:
        break
    brand = driver.find_elements(By.XPATH, '//div[contains(@class, "_2WkVRV")]')
    for b in brand:
        brands.append(b.text)
    next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [24]:
product_description = []
counter = 0
start = 0
end = 3
for page in range(start,end):
    if counter == 100:
        break
    pr_des = driver.find_elements(By.XPATH, '//a[contains(@class, "IRpwTa")]')
    for p in pr_des:
        product_description.append(p.text)
 
    next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [27]:
prices = []
counter = 0
start = 0
end = 3
for page in range(start,end):
    if counter == 100:
        break
    price = driver.find_elements(By.XPATH, '//div[@class="_25b18c"]/div[position()=1]')
    for pri in price:
        prices.append(pri.text)
    next_button = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)

### dataframe

In [31]:
df = pd.DataFrame({'Brand': brands, 'description':product_description})
df

             Brand                                        description
0           AISLIN              Polarized Rectangular Sunglasses (60)
1           AISLIN         UV Protection Retro Square Sunglasses (46)
2    VINCENT CHASE  Polarized, UV Protection, Mirrored Sports, Wra...
3            NuVew  Polarized, UV Protection Wayfarer Sunglasses (54)
4           PIRASO  UV Protection, Gradient Over-sized Sunglasses ...
..             ...                                                ...
115          NuVew  UV Protection, Gradient Butterfly, Shield Sung...
116           IRUS  Polarized, UV Protection Aviator Sunglasses (F...
117    john jacobs                   Gradient Cat-eye Sunglasses (54)
118  VINCENT CHASE  UV Protection, Gradient Butterfly, Retro Squar...
119           IDEE      Polarized, UV Protection Oval Sunglasses (64)

[120 rows x 2 columns]